:root {
    --light_green: #2ECC71;
    --dark_green: #27AE60;
    --light_grey: #F2F2F2;
    --dark_grey: #2C3E50;
    --yellow: #F1C40F;
    --black: #000000;
    --white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

/* Animaciones */
* {
    animation: appear 0.3s ease-in-out;
}

#mobileMenu,
#mobileMenu * {
    animation: none;
}

#mobileMenu {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#mobileMenu>* {
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

#mobileMenu.notShowed>* {
    transform: scale(0.5);
    transition: transform 0.6s ease-in-out;
}


#mobileMenu.notShowed {
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}


/* Estilos para los botones */
.btn {
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn--yellow {
    color: var(--black);
    background-color: var(--yellow);
    border-color: var(--black);
    transition: background-color 0.6s ease-in-out;
}

.btn--yellow:hover {
    color: var(--white);
    background-color: var(--black);
    transition: background-color 0.3s ease-in-out;
}

.btn--light-green {
    color: var(--white);
    background-color: var(--light_green);
    border-color: var(--dark_green);
    transition: background-color 0.6s ease-in-out;
}

.btn--light-green:hover {
    color: var(--white);
    background-color: var(--dark_green);
    transition: background-color 0.3s ease-in-out;
}

.btn--white {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
    transition: background-color 0.6s ease-in-out;
}

.btn--white:hover {
    color: var(--white);
    background-color: var(--black);
    transition: background-color 0.3s ease-in-out;
}

.btn--black {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
    transition: background-color 0.6s ease-in-out;
}

.btn--black:hover {
    opacity: 0.8;
    transition: background-color 0.3s ease-in-out;
}

/* Estilos para textos */
.text--h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.text--h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.text--h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.text--p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Estilos para los carruseles */
#carruselThumbnailInfo .splide__slide.is-visible {
    border-top: 4px solid var(--light_grey);
}

#carruselThumbnailInfo .splide__slide.is-visible.is-active {
    border: none;
    border-top: 4px solid var(--black);
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Equivalente a md de tailwind */
@media (max-width: 768px) {
    .text--h2 {
        font-size: 20px;
    }

    .text--p {
        font-size: 12px;
    }
}