:root {
    --light_green: #2ECC71;
    --dark_green: #27AE60;
    --light_grey: #F2F2F2;
    --dark_grey: #2C3E50;
    --input_grey: #D9D9D9;
    --yellow: #F1C40F;
    --black: #000000;
    --white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

#mobileMenu,
#mobileMenu * {
    animation: none;
}

#mobileMenu {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#mobileMenu>* {
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

#mobileMenu.notShowed>* {
    transform: scale(0.5);
    transition: transform 0.6s ease-in-out;
}


#mobileMenu.notShowed {
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}


/* Estilos para los botones */
.btn {
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn--yellow {
    color: var(--black);
    background-color: var(--yellow);
    border-color: var(--black);
    transition: background-color 0.6s ease-in-out;
}

.btn--yellow:hover {
    color: var(--white);
    background-color: var(--black);
    transition: background-color 0.3s ease-in-out;
}

.btn--light-green {
    color: var(--white);
    background-color: var(--light_green);
    border-color: var(--dark_green);
    transition: background-color 0.6s ease-in-out;
}

.btn--light-green:hover {
    color: var(--white);
    background-color: var(--dark_green);
    transition: background-color 0.3s ease-in-out;
}

.btn--white {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
    transition: background-color 0.6s ease-in-out;
}

.btn--white:hover {
    color: var(--white);
    background-color: var(--black);
    transition: background-color 0.3s ease-in-out;
}

.btn--black {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
    transition: background-color 0.6s ease-in-out;
}

.btn--black:hover {
    opacity: 0.8;
    transition: background-color 0.3s ease-in-out;
}


/* Estilos para textos */
.text--h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.text--h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.text--h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.text--h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.text--h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.text--p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.text--supertitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/* Estilos para los inputs */
input.input--grey,
textarea.input--grey {
    border: none;
    background-color: var(--input_grey) !important;
    border-radius: 12px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--black);
    padding: 16px 24px !important;
    transition: box-shadow 0.6s ease-in-out;
}

.input--grey::placeholder {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.input--grey:focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    transition: box-shadow 0.3s ease-in-out !important;
}

textarea.input--grey {
    resize: none;
}


/* Estilos para los carruseles */
#carruselThumbnailInfo .splide__slide.is-visible {
    border-top: 4px solid var(--light_grey);
}

#carruselThumbnailInfo .splide__slide.is-visible.is-active {
    border: none;
    border-top: 4px solid var(--black);
}

#carouselOpinionesClientes .splide__arrows {
    all: initial;
    position: static !important;
    display: flex;
    justify-content: flex-end;
    padding: 12px 0 !important;
}

#carouselOpinionesClientes .splide__arrows .splide__arrow {
    all: initial;
    background-color: var(--white) !important;
    border-radius: 50%;
    border: 2px solid var(--black) !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0 8px;
    opacity: 1;
    position: static !important;
    transition: background-color 0.6s ease-in-out;
    width: 60px;
}

#carouselOpinionesClientes .splide__arrow:hover {
    background-color: var(--black) !important;
    color: var(--white) !important;
    transition: background-color 0.3s ease-in-out;
}

#carouselOpinionesClientes .splide__pagination,
#carruselCasos .splide__pagination {
    position: static !important;
    padding: 12px 0 !important;
}

#carouselOpinionesClientes .splide__pagination__page.is-active,
#carruselCasos .splide__pagination__page.is-active {
    background: var(--light_green);
    border: 2px solid var(--dark_green);
    height: 24px;
    width: 24px;
    opacity: 1;
    transform: none;
}

#carouselOpinionesClientes .splide__pagination__page,
#carruselCasos .splide__pagination__page {
    background: var(--white);
    border: 2px solid var(--dark_grey);
    height: 24px;
    width: 24px;
    opacity: 1;
}

/* Estilos para la seccion de procesos de trabajo en el index */
.btn--proceso {
    background-color: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: transparent;

}

.proceso__item--first .btn--proceso::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px; /* Espacio entre el botón y el rectángulo */
    width: 30px; /* Ancho del rectángulo */
    height: 4px; /* Alto del rectángulo */
    background-color: var(--black);
    z-index: -1;
}

.proceso__item--last .btn--proceso::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -2px; /* Espacio entre el botón y el rectángulo */
    width: 88px; /* Ancho del rectángulo */
    height: 4px; /* Alto del rectángulo */
    background-color: var(--black);
    z-index: -1;
}

.contenedor-linea {
    position: relative;
    width: 100%;
    height: 1px;
    /* Grosor de la línea */
    background-color: var(--white);
    /* Color de la línea */
    position: absolute;
    top: 50%;
}

.contenedor-linea::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: 1;
}

.proceso__item {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
    z-index: 100;
    color: var(--white);
}

.proceso__item.proceso--active {
    color: var(--light_green);
}

.proceso__item.proceso--active .btn--proceso {
    background-color: var(--light_green);
    animation: btnKF 3s ease-in-out infinite;
    border: 1px solid var(--light_green);
}


@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnKF {
    0% {
        background-color: var(--light_green);
    }

    50% {
        background-color: var(--dark_grey);
    }

    100% {
        background-color: var(--dark_green);
    }

}

/* Equivalente a md de tailwind */
@media (max-width: 768px) {
    .text--h1 {
        font-size: 35px;
    }

    .text--h2 {
        font-size: 20px;
    }

    .text--h3 {
        font-size: 24px;
    }

    .text--h4 {
        font-size: 16px;
    }

    .text--h5 {
        font-size: 12px;
    }

    .text--p {
        font-size: 12px;
    }

    .proceso__item > p {
        color: transparent;
        font-size: 1px;
    }

    .proceso__item--first .btn--proceso::after {
        width: 20px; /* Ancho del rectángulo */
    }
    
    .proceso__item--last .btn--proceso::before {
        width: 20px; /* Ancho del rectángulo */
    }
}

/* Agrega animación a los elementos con la clase .animated */
.animated {
    animation-duration: 0.5s; /* Duración de la animación */
    animation-fill-mode: both;
    opacity: 0; /* Comienza con opacidad cero */
}

/* Define la animación para la entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Aplica la animación de entrada */
.fadeIn {
    animation-name: fadeIn;
}

/* Agrega animación de salida */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Aplica la animación de salida */
.fadeOut {
    animation-name: fadeOut;
}